<h2>Reporte Semanal</h2>
<ngx-charts-bar-vertical
  [view]="view"
  [scheme]="colorScheme"
  [results]="semanalData"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onBarSelect($event)">
</ngx-charts-bar-vertical>

<h2>Reporte Mensual</h2>
<ngx-charts-bar-vertical
  [view]="view"
  [scheme]="colorScheme"
  [results]="mensualData"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onBarSelect($event)">
</ngx-charts-bar-vertical>

<h2>Reporte Anual</h2>
<ngx-charts-bar-vertical
  [view]="view"
  [scheme]="colorScheme"
  [results]="anualData"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onBarSelect($event)">
</ngx-charts-bar-vertical>

<!-- Modal -->
<div *ngIf="showModal" class="modal-overlay" (click)="showModal = false">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <p><strong>Periodo:</strong> {{ selectedData?.name }}</p>
    <p><strong>Cantidad:</strong> {{ selectedData?.value }}</p>
    <button (click)="showModal = false">Cerrar</button>
  </div>
</div>
