<div class="container mt-4">
  <h2>Generar Reporte</h2>
  <form (ngSubmit)="generarReporte()">
    <div class="row g-3">
      <div class="col-md-4">
        <label for="nombre" class="form-label">Nombre Cliente</label>
        <input type="text" id="nombre" class="form-control" [(ngModel)]="nombre" name="nombre" required>
      </div>
      <div class="col-md-4">
        <label for="tipo" class="form-label">Tipo de Reporte</label>
        <select id="tipo" class="form-select" [(ngModel)]="tipo" name="tipo" required (change)="actualizarEstados()">
          <option value="prestamos">Préstamos</option>
          <option value="cuotas">Cuotas</option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="estado" class="form-label">Estado</label>
        <select id="estado" class="form-select" [(ngModel)]="estado" name="estado" required>
          <option *ngFor="let estado of estadosDisponibles" [value]="estado">{{ estado }}</option>
        </select>
      </div>
    </div>
    <div class="mt-3">
      <button type="submit" class="btn btn-primary">
        <i class="bi bi-card-list"></i> Generar
      </button>
    </div>
  </form>

  <div class="mt-4" *ngIf="resultadoReporte">
    <h3>Resultado del Reporte:</h3>
    <div class="bg-light p-3 border rounded" [innerHTML]="resultadoReporte"></div>
  </div>
</div>
